<div id="monResponse">
    <p>
        <form method="post" id="form">
    <p><input name="amount" type="text" placeholder="Amount" required></p>
    <p><input name="order_id" type="text" placeholder="Order ID" required></p>
    <p><input name="data_key" id="data_key" type="hidden" placeholder="Data key" readonly></p>
    </form>
    </p>

    <div class="inner-addon left-addon" action="index.php">
        <i class="glyphicon glyphicon-credit-card"></i>
        <input type="button" onclick="doMonerisSubmit()" value="Pay Fine"/>
    </div>
</div>